<?php
/**
 * File contains {{ consumerNameUnderscored }}_consumer
 */
namespace {{ namespace }}\Consumer;

use OldSound\RabbitMqBundle\RabbitMq\ConsumerInterface;
use PhpAmqpLib\Message\AMQPMessage;

/**
 * This class is callback of {{ consumerNameUnderscored }}_consumer
 */
class {{ consumerName }}Consumer implements ConsumerInterface
{
    /**
     * This method is {{ consumerName }}Consumer's constructor
     */
    public function __construct()
    {
    }

    public function execute(AMQPMessage $msg)
    {
    }
}
