<?php

namespace {{ namespace }}\Controller;

{% block use_statements %}
use Symfony\Component\HttpFoundation\JsonResponse;
use FOS\RestBundle\Controller\Annotations\Get;
use {{ namespace }}\Document\{{ controller }};
use {{ namespace }}\Controller\{{ controller }}BaseController;
{% endblock use_statements %}

{% block class_definition %}
class {{ controller }}GetDetailsController extends {{ controller }}BaseController
{% endblock class_definition %}
{
{% block class_body %}
    /**
     * GET annotation.
     * @GET("/{{ controllerLowercase }}s/{guid}")
     */
    public function get{{ controller }}GetDetailsAction($guid)
    {
        $dm = $this->dataManagerRegistry->getManager();
        ${{ controllerLowercase }}Repository = $dm->getRepository('{{ bundle }}:{{ controller}}');
        ${{ controllerLowercase }} = ${{ controllerLowercase }}Repository->findOneByGuid($guid);
        if (empty(${{ controllerLowercase }})) {
            return new JsonResponse(
                'There is no {{ controller }} with guid '.$guid,
                JsonResponse::HTTP_NOT_FOUND
            );
        }
        return new JsonResponse(${{ controllerLowercase }}->toArray(), JsonResponse::HTTP_OK);
    }
{% endblock class_body %}
}
