<?php

namespace {{ namespace }}\Controller;

{% block use_statements %}
use Symfony\Component\HttpFoundation\JsonResponse;
use FOS\RestBundle\Controller\Annotations\Get;
use {{ namespace }}\Document\{{ controller }};
use {{ namespace }}\Controller\{{ controller }}BaseController;
{% endblock use_statements %}

{% block class_definition %}
class {{ controller }}GetAllController extends {{ controller }}BaseController
{% endblock class_definition %}
{
{% block class_body %}
    /**
     * GET annotation.
     * @GET("/{{ controllerLowercase }}s")
     */
    public function get{{ controller }}GetAllAction()
    {
        $dm = $this->dataManagerRegistry->getManager();
        ${{ controllerLowercase }}s = $dm->getRepository('{{ bundle }}:{{ controller }}')
            ->findAll();
        ${{ controllerLowercase }}sArray = [];
        foreach (${{ controllerLowercase }}s as ${{ controllerLowercase }}) {
            ${{ controllerLowercase }}sArray[] = ${{ controllerLowercase }}->toArray();
        }
        return new JsonResponse(${{ controllerLowercase }}sArray);
    }
{% endblock class_body %}
}
