<?php

namespace {{ namespace }}\Controller;

{% block use_statements %}
use Symfony\Component\HttpFoundation\JsonResponse;
use {{ namespace }}\Controller\{{ controller }}BaseController;
use {{ namespace }}\Document\{{ controller }};
use FOS\RestBundle\Controller\Annotations\Put;
use FOS\RestBundle\Controller\Annotations\Get;
{% endblock use_statements %}

{% block class_definition %}
class {{ controller }}PutEventController extends {{ controller }}BaseController
{% endblock class_definition %}
{
{% block class_body %}
    /**
     * PUT annotation.
     * @PUT("/{{ controllerLowercase }}s")
     */
    public function put{{ controller }}PutEventAction()
    {
        $data = json_decode($this->requestContent);
        ${{ controllerLowercase }} = new {{ controller }}({{ fieldKeysWithData|join(', ') }});

        $dm = $this->dataManagerRegistry->getManager();
        $dm->getRepository('{{ bundle  }}:{{ controller }}');
        $dm->persist(${{ controllerLowercase }});
        $dm->flush();
        $result = ${{ controllerLowercase }}->toArray();
        $this->container->get('old_sound_rabbit_mq.{{ controllerUnderscored }}_producer')
            ->publish(json_encode($result));

        return new JsonResponse('', JsonResponse::HTTP_OK);
    }
{% endblock class_body %}
}
