<?php

namespace {{ namespace }}\Controller;

{% block use_statements %}
use FOS\RestBundle\Controller\FOSRestController;
use Symfony\Bridge\Doctrine\ManagerRegistry;
use Symfony\Component\HttpFoundation\RequestStack;
{% endblock use_statements %}

{% block class_definition %}
class {{ controller }}BaseController extends FOSRestController
{% endblock class_definition %}
{
{% block class_body %}
    /**
     * @var ManagerRegistry This is doctrine Manager Registry
     */
    protected $dataManagerRegistry;

    /**
     * @var ParameterBag This is current request query
     */
    protected $requestQuery;

    /**
     * @var string This is current request body
     */
    protected $requestContent;

    /**
     * This method is {{ controller }}Controller's constructor
     * @param ManagerRegistry $dataManagerRegistry
     * @param RequestStack $requestStack
     * @param ContainerInterface $container
     */
    public function __construct(
        ManagerRegistry $dataManagerRegistry,
        $requestStack = null,
        $container = null
    ) {
        $currentRequest = $requestStack->getCurrentRequest();
        if (isset($currentRequest)) {
            $this->requestContent = $currentRequest->getContent();
            $this->requestQuery = $currentRequest->query;
        }
        $this->dataManagerRegistry = $dataManagerRegistry;
        $this->container = $container;
    }
{% endblock class_body %}
}
