<?php
/**
 * contains {{ consumerName }}Consumer functional test
 */

namespace {{ namespace }}\Tests\Functional;

use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;
use PhpAmqpLib\Message\AMQPMessage;

class {{ consumerName }}ConsumerTest extends WebTestCase
{
    /** @var Client This is Client instance */
    private $client;

    /**
     * This method runs before every method and does initialization tasks
     */
    public function setUp()
    {
        $this->client = static::createClient();
    }

    /**
     * This method runs after every method and does destruction tasks
     */
    public function tearDown()
    {
        $this->client = null;
    }


    /**
     * Data provider for testExecute method below.
     */
    public function executeDataProvider()
    {
        return array(
            array(
                '{ "guid" : "1408d934-91da-836d-6ef6-15dcab0fa075"}'
            )
        );
    }


    /**
     * This method is {{ consumerName }}Consumer callback test
     * @param $message
     * @dataProvider executeDataProvider
     */
    public function testExecute($message)
    {
    }
}
