<?php
/**
 * This file contains {{ controller }}GetAllController functional test
 */

namespace {{ namespace }}\Tests\Functional;

use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;
use {{ namespace }}\Document\{{ controller }};

class {{ controller }}GetAllControllerTest extends WebTestCase
{
    /**
     * @var Client This is Client instance
     */
    private $client;

    /**
     * This method runs before every method and does initialization tasks
     */
    public function setUp()
    {
        $this->client = static::createClient();
    }

    /**
     * This method runs after every method and does destruction tasks
     */
    public function tearDown()
    {
        $this->client = null;
    }

    /**
     * Data provider for test{{ controller }}GetAllAction method below.
     */
    public function get{{ controller }}GetAllDataProvider()
    {
        return array(
            array(
                {% for field in fieldKeys %}'some_dummy_data',
                {% endfor %})
        );
    }

    /**
     * This method is {{ controller }}GetAllController's get{{ controller }}GetAllAction functional test
     * @dataProvider get{{ controller }}GetAllDataProvider
     * @param $guid type string users guid
     */
    public function test{{ controller }}GetAllAction({{ fieldKeys|join(', ') }})
    {
        $mockManagerRegistry = $this->getMockBuilder('Symfony\Bridge\Doctrine\ManagerRegistry')
            ->disableOriginalConstructor()->getMock();
        $mockDocumentManager = $this->getMockBuilder('Doctrine\ODM\MongoDB\DocumentManager')
            ->disableOriginalConstructor()->getMock();
        $mockManagerRegistry->method('getManager')
            ->willReturn($mockDocumentManager);
        $this->client->getContainer()->set('doctrine_mongodb', $mockManagerRegistry);
        ${{ controllerLowercase }} = array(
            new {{ controller }}({{ fieldKeys|join(', ') }})
        );
        $mockDocumentRepository = $this->getMockBuilder('Doctrine\ODM\MongoDB\DocumentRepository')
            ->disableOriginalConstructor()->getMock();
        $mockDocumentRepository->expects($this->once())->method('findAll')
            ->willReturn(${{ controllerLowercase }});
        $mockDocumentManager->method('getRepository')
            ->with($this->equalTo('{{ bundle }}:{{ controller }}'))
            ->willReturn($mockDocumentRepository);
        $mockManagerRegistry->method('getManager')
            ->willReturn($mockDocumentManager);
        $this->client->request(
            'GET',
            '/{{ controllerLowercase }}s',
            [],
            [],
            []
        );
        $this->assertEquals('['.json_encode(${{ controllerLowercase }}[0]->toArray()).']', $this->client
            ->getResponse()->getContent());
    }
}
