<?php
/**
 * contains Put{{ controller }}EventController functional test
 */

namespace {{ namespace }}\Tests\Functional;

use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;
use {{ namespace }}\Document\{{ controller }};

class {{ controller }}PutEventControllerTest extends WebTestCase
{
    /**
     * @var Client This is Client instance
     */
    private $client;

    /**
     * This method runs before every method and does initialization tasks
     */
    public function setUp()
    {
        $this->client = static::createClient();
    }

    /**
     * This method runs after every method and does destruction tasks
     */
    public function tearDown()
    {
        $this->client = null;
    }

    /**
     * Data provider for testPut{{ controller }}PutEventAction method below.
     */
    public function put{{ controller }}PutEventDataProvider()
    {
        return array(
            array(
            {% for field in fieldKeys %}'some_dummy_data',
            {% endfor %})
        );
    }

    /**
     * This method is {{ controller }}Controller's put{{ controller }}PutEventAction functional test
     * @dataProvider put{{ controller }}PutEventDataProvider
     * @param $guid type string users guid
     */
    public function testPut{{ controller }}PutEventAction({{ fieldKeys|join(', ') }})
    {
        $mockManagerRegistry = $this->getMockBuilder('Symfony\Bridge\Doctrine\ManagerRegistry')
            ->disableOriginalConstructor()->getMock();
        $mockDocumentManager = $this->getMockBuilder('Doctrine\ODM\MongoDB\DocumentManager')
            ->disableOriginalConstructor()->getMock();
        $mockProducer = $this->getMockBuilder('OldSound\RabbitMqBundle\RabbitMq\Producer')
            ->disableOriginalConstructor()->getMock();
        $mockProducer->expects($this->once())->method('publish');
        $mockDocumentManager->expects($this->once())->method('persist');
        $mockDocumentManager->expects($this->once())->method('flush');
        $mockManagerRegistry->method('getManager')
            ->willReturn($mockDocumentManager);
        $this->client->getContainer()->set('old_sound_rabbit_mq.{{ controllerUnderscored }}_producer', $mockProducer);
        $this->client->getContainer()->set('doctrine_mongodb', $mockManagerRegistry);
        $this->client->request(
            'PUT',
            '/{{ controllerLowercase }}s',
            array(),
            array(),
            array('CONTENT_TYPE' => 'application/json'),
            {{ fieldsJSON }}
        );
        $this->assertEquals(
            '200',
            $this->client->getResponse()->getStatusCode()
        );
    }
}
