<?php
/**
 * This file contains {{ controller }}GetDetailsController functional test
 */

namespace {{ namespace }}\Tests\Functional;

use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;
use {{ namespace }}\Document\{{ controller }};

class {{ controller }}GetDetailsControllerTest extends WebTestCase
{
    /**
     * @var Client This is Client instance
     */
    private $client;

    /**
     * This method runs before every method and does initialization tasks
     */
    public function setUp()
    {
        $this->client = static::createClient();
    }

    /**
     * This method runs after every method and does destruction tasks
     */
    public function tearDown()
    {
        $this->client = null;
    }

    /**
     * Data provider for testGet{{ controller }}GetDetailsAction method below.
     */
    public function get{{ controller }}GetDetailsDataProvider()
    {
        return array(
            array(
            {% for field in fieldKeys %}'some_dummy_data',
            {% endfor %})
        );
    }

    /**
     * This method is {{ controller }}GetDetailsController's get{{ controller }}GetDetailsAction functional test
     * @dataProvider get{{ controller }}GetDetailsDataProvider
     * @param $guid type string users guid
     */
    public function testGet{{ controller }}GetDetailsAction({{ fieldKeys|join(', ') }})
    {
        // Creating mock object for database
        $mockManagerRegistry = $this->getMockBuilder('Symfony\Bridge\Doctrine\ManagerRegistry')
            ->disableOriginalConstructor()->getMock();
        $mockDocumentManager = $this->getMockBuilder('Doctrine\ODM\MongoDB\DocumentManager')
            ->disableOriginalConstructor()->getMock();
        $mockManagerRegistry->method('getManager')
            ->willReturn($mockDocumentManager);
        $mockDocumentRepository = $this->getMockBuilder('Doctrine\ODM\MongoDB\DocumentRepository')
            ->disableOriginalConstructor()->getMock();

        // Creating real Tender object
        ${{ controllerLowercase }} = new {{ controller }}({{ fieldKeys|join(', ') }});

        $mockDocumentRepository->expects($this->once())->method('findOneByGuid')
            ->willReturn(${{ controllerLowercase }});
        $mockDocumentManager->method('getRepository')
            ->with($this->equalTo('{{ bundle }}:{{ controller }}'))
            ->willReturn($mockDocumentRepository);
        $mockManagerRegistry->method('getManager')
            ->willReturn($mockDocumentManager);
        $this->client->getContainer()->set('doctrine_mongodb', $mockManagerRegistry);
        $this->client->request(
            'GET',
            '/{{ controllerLowercase }}s/'.$guid,
            [],
            [],
            []
        );
        $this->assertEquals(
            json_encode(${{ controllerLowercase }}->toArray()),
            $this->client->getResponse()->getContent()
        );
    }
}
