consumers:
    {{ consumerNameUnderscored }}:
        connection:       default
        exchange_options: {name: '{{ consumerNameUnderscored }}', type: direct, durable: true}
        queue_options:    {name: '{{ consumerNameUnderscored }}', durable: true}
        callback:         {{ consumerNameUnderscored }}_service